.btn {
    background: rgba(52,52,52,1.0);
    font-size: 0.9rem;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 3px;
    cursor: pointer;
    text-overflow: ellipsis;
    text-align: center;
    color: white;
}

.btn.disabled {
    background: rgba(52,52,52,0.6);
}

.btn-small {
    font-size: 0.6em;
    height: 20px;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
