.search-list-item {
    border-bottom: 1px solid #aaa;
    font-weight: lighter;
    font-family: sans-serif;
    background: rgba(248, 248, 242, 1);
    color: black;
    padding: 1em;
}

.search-list-item:hover {
    background: rgba(64, 150, 247, 0.6);
    cursor: pointer;
}

.search-list-item:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px; /* so that it matches with bottom of the container */
}

.search-list-item--selected {
    background: rgba(64, 150, 247, 1);
    color: rgba(241, 247, 254, 1);
}
