.styleguide-container {
    display: flex;
    z-index: 1001;
    height: 100%;
    overflow: hidden;
}

.styleguide-container > div:not(:last-child) {
    margin-right: 1em;
}

.styleguide-container > div:last-child() {
    margin-right: 0;
}

.styleguide-list {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.styleguide-list > div + input {
    margin-bottom: 1em;
}

.styleguide-list > div:last-child() {
    margin-bottom: 0;
}

.styleguide-list-item {
    padding: 1em;
    color: #23b987;
}

.styleguide-list-item.selected {
    background-color: #24b987;
    color: #fff;
}

.styleguide-list-item:hover {
    background-color: #f2f2f2;
    color: #000;
    cursor: pointer;
}

.styleguide-body {
    flex: 4;
    overflow-y: auto;
}
