* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body, html {
    font-family: sans-serif;
}

.page-container {
    width: 100vw;
    height: 100vh;
    background-color: #272729;
}

.editor-right-pane {
    background-color: white;
}

.editor-left-pane {
    /* border-right: '15px solid #343436' */
}
