.Resizer {
    background-color: rgba(20,21,22, 1.0);
    opacity: .2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(20,21,22, 0.8);
    border-bottom: 5px solid rgba(20,21,22, 0.8);
}

.Resizer.vertical {
    width: 10px;
    cursor: col-resize;
    background-color: rgba(20,21,22, 1.0);
}

.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}
