.search-modal-input {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 0.8;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(248, 248, 242, 0.8);
    box-shadow: 10px 10px 20px 10px rgba(204, 204, 204, 0.62);
}

.search-modal-input::placeholder {
    color: rgba(30, 30, 30, 0.25);
}
