* {
    box-sizing: border-box;
}

body, html {
    font-family: sans-serif;
}

.page-container {
    width: 100vw;
    height: 100vh;
    background-color: #272729;
}

.editor-header {
    color: rgba(204, 204, 204, 1);
    background-color: #141516;
    padding: 4px 0.5em;
}

.editor-header h2 {
    font-size: 1.2em;
    margin: 0;
}

.editor-right-pane {
    background-color: white;
}

.editor-left-pane {
    /* border-right: '15px solid #343436' */
}
